<div class="container">
  <div class="footer-nav">
    <div class="plans">
      <h2>Convênios</h2>
      <p>Trabalhamos com os principais convênios do mercado, garantindo atendimento de qualidade e segurança para você e sua família.</p>
    </div>

    <div class="awards">
      <h2>Certificações e Prêmios</h2>
      <p>- Acreditação SBMed, Excelência em Atendimento Médico</p>
      <p>- Prêmio Qualidade Saúde 2024, Clínica de Destaque no RJ</p>
      <p>- Selo de Segurança e Ética Hospitalar, Certificação Nacional</p>
      <p>- Prêmio Inovação em Saúde 2023, Uso de Tecnologias Avançadas</p>
    </div>
  </div>
 
  <div class="footer-widgets">
    <div class="footer-widget">
      <div>
        <div class="footer-widget-title">CLÍNICA MEDICENTER</div>
        <div class="widget-bars"></div>
      </div>

      <div class="footer-body">
        <p>Há mais de 20 anos, a Clínica Medicenter dedica-se a oferecer um atendimento de excelência médica com atendimento humanizado.</p>
        
        <div class="address">
          <div>
            <span>Clínica MediCenter</span>
            <span>208 - Av. José Bonatto</span>
            <span>Barra da Tijuca - RJ</span>
          </div>

          <div>
            <span>(21) 3256-4821</span>
            <span>(21) 98876-4321</span>
            <span>clinica@medicenter.com</span>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-widget">
      <div>
        <div class="footer-widget-title">ESPECIALIDADES MÉDICAS</div>
        <div class="widget-bars"></div>
      </div>

      <div class="footer-body">
        <ul>
          <li>→ Cardiologia</li>
          <li>→ Pediatria</li>
          <li>→ Dermatologia</li>
          <li>→ Ortopedia</li>
          <li>→ Ginecologia & Obstetrícia</li>
          <li>→ Clínica Geral</li>
          <li>→ Oftalmologia</li>
          <li>→ Oncologia</li>
          <li>→ Endocrinologia</li>
        </ul>
      </div>
    </div>
    
    <div class="footer-widget">
      <div class="footer-widget-header">
        <div class="footer-widget-title">REDES SOCIAIS</div>
        <div class="widget-bars"></div>
      </div>

      <div class="footer-body links">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-square-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-copy">
    <p>TODOS OS DIREITOS RESERVADOS <br/>@medicenter</p>
  </div>
</div>