<div class="container container-column">
  <div class="footer-actions">
    <div class="opening-hours">
      <h2>Horário de Atendimento</h2>
      <p><strong>Segunda a Sexta:</strong> 07h às 20h</p>
      <p><strong>Sábados:</strong> 08h às 14h</li></p>
      <p><strong>Domingos e Feriados:</strong> Plantão para emergências</p>
    </div>

    <div class="awards">
      <h2>Certificações e Prêmios</h2>
      <p>- Acreditação SBMed, Excelência em Atendimento Médico</p>
      <p>- Prêmio Qualidade Saúde 2024, Clínica de Destaque no RJ</p>
      <p>- Selo de Segurança e Ética Hospitalar, Certificação Nacional</p>
      <p>- Prêmio Inovação em Saúde 2023, Uso de Tecnologias Avançadas</p>
    </div>
  </div>
 
  <div class="footer-widgets">
    <div class="widget-wrap">
      <div class="widget-title">CLÍNICA MEDICENTER</div>
      <div class="widget-bars"></div>

      <div class="widget-body">
        <p>Há mais de 20 anos, a Clínica Medicenter dedica-se a oferecer um atendimento de excelência médica com atendimento humanizado.</p>
        
        <div class="address">
          <span>Clínica MediCenter</span>
          <span>208 - Av. José Bonatto</span>
          <span>Barra da Tijuca - RJ</span>
          <br/>
          <span>(21) 3256-4821</span>
          <span>(21) 98876-4321</span>
          <span>clinica@medicenter.com</span>
        </div>
      </div>
    </div>

    <div class="widget-wrap">
      <div class="widget-title">ESPECIALIDADES MÉDICAS</div>
      <div class="widget-bars"></div>

      <div class="widget-body">
        <ul>
          <li>→ Cardiologia</li>
          <li>→ Pediatria</li>
          <li>→ Dermatologia</li>
          <li>→ Ortopedia</li>
          <li>→ Ginecologia & Obstetrícia</li>
          <li>→ Clínica Geral</li>
          <li>→ Oftalmologia</li>
          <li>→ Oncologia</li>
          <li>→ Endocrinologia</li>
        </ul>
      </div>
    </div>
    
    <div class="widget-wrap">
      <div class="widget-title">REDES SOCIAIS</div>
      <div class="widget-bars"></div>
      
      <div class="widget-body">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-square-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>TODOS OS DIREITOS RESERVADOS <br/>@medicenter</p>
  </div>
</div>