<div class="container">
  <div class="logo">
    <a href="">
      <img src="../assets/images/medicenter-logo.png" alt="Logo Medicenter">
    </a>
  </div>

  <div class="menu">
    <nav>
      <div class="button-menu">
        <i class="fa-solid fa-bars"></i>
      </div>

      <ul>
        <li><a href="">INÍCIO</a></li>
        <li><a href="">SOBRE NÓS</a></li>
        <li><a href="">CORPO CLÍNICO</a></li>
        <li><a href="">CONVÊNIOS</a></li>
        <button href="">ENTRE EM CONTATO</button>
      </ul>
    </nav>
  </div>
</div>