<div class="container">
  <div class="logo">
    <a href="/index.html">
      <img src="../assets/images/medicenter-logo.png" alt="Logo Medicenter">
    </a>
  </div>

  <div class="menu">
    <nav>
      <div class="button-menu">
        <i class="fa-solid fa-bars"></i>
      </div>

      <ul>
        <li><a href="/html/about.html">SOBRE NÓS</a></li>
        <li><a href="/html/medical-staff.html">CORPO CLÍNICO</a></li>
        <li><a href="/html/contact.html">ENTRE EM CONTATO</a></li>
      </ul>
    </nav>
  </div>
</div>