*{margin: 0; padding: 0; box-sizing: border-box;}
body {background-color: #F6F6F6; font-family: Arial, Helvetica, sans-serif;}

.global {display: flex; margin: 0 4%;}
.container {max-width: 1080px; margin: 0 auto; display: flex; justify-content: space-between;}
.container-column {flex-direction: column; padding: 0 4%; width: 100%;}

.global section {flex: 2;}
.widget-wrap {margin: 30px 0 20px 0;}
.widget-title {font-size: 25px; font: bold; color: #2C2C2C;}
.widget-bars {width: 50px; height: 2px; background-color: #36A9E1; margin-top: 5px;}
aside {flex: 1; margin-left: 20px;}

header {margin: 40px 4%;}
.logo, .menu {display: flex; align-items: center;}
.button-menu {display: none;}
nav ul {list-style: none; display: flex;}
nav a {display: block; padding: 15px; text-decoration: none; color: #727272;}
nav a:hover {color: #39AAE1; font-weight: 600;}
nav button {padding: 0 10px; margin-left: 10px; border-radius: 10px; border: 0; background-color: #39AAE1; color: #F6F6F6; cursor: pointer;}
nav button:hover {background-color: #11A8F3; font-weight: 600;}

.banner {background-image: url('../images/medicenter-banner.png'); background-position: center; background-size: cover; display: flex; justify-content: center; height: 650px;}
.banner-title {flex: 1; display: flex; flex-direction: column; justify-content: center;}
.banner-title h1 {color: #F6F6F6; font-size: 60px; width: 350px; text-shadow: 1px 2px 0 #555;}
.banner-title p {color: #F6F6F6; font-size: 20px; width: 300px; margin-top: 10px; text-shadow: 0px 1px 0 #555}
.banner-actions {display: flex;}
.emergency {background-color: #39AAE1; border-top-left-radius: 20px;}
.structure {background-color: #0079C7; border-top-right-radius: 20px;}
.emergency, .structure {flex: 1; color: #F6F6F6; padding: 20px;  }
.emergency p, .structure p {font-size: 14px; margin: 5px 0 20px 0; color: #2C2C2C;}
.emergency a, .structure a {text-decoration: none; display: inline-block; border: 1px solid #F6F6F6; padding: 5px; color: #F6F6F6; font-size: 15px;}

.article-body {display: flex; flex-wrap: wrap;}
.article-body article {flex: 1; min-width: 300px; margin-right: 20px;}
article a {text-decoration: none;}
article .news-data {display: flex;}
article .news-posted-at {background-color: #2B4C99; color: #F6F6F6; padding: 10px; font-size: 12px; margin-right: 2px;}
article .news-comments {background-color: #39AAE1; color: #F6F6F6; padding: 10px;}
article .news-img {margin-top: 10px;}
article .news-img img {width: 100%; height: auto;}
article .news-title {margin: 10px 0; font-size: 24px; color: #2B4C99;}
article .news-resume {font-size: 15px; line-height: 20px; color: #727272; margin-bottom: 30px;}
.aside-body ul {list-style: none;}
.aside-body li {padding: 2px; color: #5C5C5C;}
.aside-body p {font-weight: 600;}
.aside-checklist-title {color: #2B4C99;}
.aside-checklist {margin: 12px 0 30px 0;}
.aside-checklist strong {color: #2B4C99;}
.aside-checklist ul {margin-top: 5px;}
.aside-checklist li {color: #5C5C5C;}

.container-about {flex-direction: column; width: 100%;}
.container-about .widget-wrap {margin: 0;}
.container-about aside { display: flex; gap: 35px; margin: 0; flex-wrap: wrap;}
.text-about p {margin: 25px 0; max-width: 580px; color: #5C5C5C;}
.pillars { background-color: #2B4C99; color: #F6F6F6; padding: 15px; border-radius: 8px; box-shadow: 0 8px 20px rgb(44, 44, 0.9);  max-width: 300px;}
.pillars .widget-wrap {margin: 10px 0 20px 0; }
.pillars-title {font-size: 20px;}
.pillars .widget-bars {width: 40%;}

.agreement-container {width: 100%;}
.agreement-container .widget-text p {max-width: 680px; margin-top: 20px; color: #727272; margin-bottom: 8px;}
.agreement-container .widget-wrap {margin-top: 60px;}
.agreement-list {display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin: 60px 0;}
.agreement-card {width: 150px; height: 100px; display: flex; align-items: center; justify-content: center; border: 1px solid #e0e0e0; border-radius: 12px; padding: 10px; background-color: #fff;}
.agreement-card img {max-width: 100%; max-height: 80%;}
.agreement-card:hover {transform: translateY(-5px); box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);}
.btn-insurance {display: inline-block; padding: 12px 25px; border-radius: 8px; background-color: #0077b6; color: #F6F6F6 !important; font-weight: 600; text-decoration: none;}
.btn-insurance:hover {background-color: #005f87;}

.container-medical {flex-direction: column; width: 100%;}
.container-medical .widget-wrap {margin: 0;}
.container-medical .widget-text p {margin: 25px 0 0 0; max-width: 580px; color: #5C5C5C;}
.swiper {width: 100%; overflow: hidden;}
.card-doctor {background-color: #2B4C99; border-radius: 12px; padding: 20px; margin: 40px 0; text-align: center;}
.card-doctor:hover {transform: translateY(-10px);}
.doctor-img {width: 100%; aspect-ratio: 3 / 4; object-fit: cover; border-radius: 12px;}
.doctor-info {margin-top: 20px; color: #F6F6F6;}
.doctor-info p {font-size: small;}

footer {background-color: #1E1E1E; padding: 0 4%;}
footer .container {flex-direction: column;}
.footer-nav {display: flex; flex: 1;}
.plans {flex: 1; border-bottom-left-radius: 20px; background-color: #39AAE1;}
.awards {flex: 2; border-bottom-right-radius: 20px; background-color: #0079C7;}
.plans, .awards {padding: 20px;}
.plans h2, .awards h2 {margin-bottom: 20px; color: #F6F6F6;}
.plans p, .awards p {font-size: 14px; color: #2C2C2C;}
.footer-widgets {display: flex; color: #F6F6F6; margin-top: 40px;}
.footer-widget {flex: 1; padding: 0 20px;}
.footer-widget-title {color: #36A9E1; font-weight: 600;}
.footer-body {margin-top: 20px; color: #555;}
.footer-body li {list-style: none;}
.address div {display: flex; flex-direction: column; margin-top: 20px; color: #555;}
.links a {color: #5C5C5C; font-size: 20px;}
.footer-copy {border-top: 1px solid #2C2C2C; margin: 30px 0 10px 0; padding-left: 20px;}
.footer-copy p {font-size: 12px; color: #5C5C5C; margin: 20px 0;}